<div class="d-flex container flex-column align-items-center wl-index">
  <h1 class="wl-header">Treatments</h1>
  <table class="table wl-table">
    <thead>
      <th>Treatment</th>
      <th>Duration</th>
      <th>Price</th>
    </thead>
    <tbody>
      <% @treatments.active.each do |treatment|%>
        <% unless treatment.subcategory.name == "Vouchers" %>
        <tr>
          <% if !treatment.description == nil?%>
          <td><%= treatment.title%>
            <a href="#" data-toggle="modal" data-target="#modal-all-<%=treatment.id%>">
              <i class="fas fa-info-circle" ></i>
            </a>
            <div class="modal fade" id="modal-all-<%=treatment.id%>" tabindex="-1" role="dialog" aria-labelledby="<%=treatment.id%>-modalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-all-<%=treatment.id%>Label"><%=treatment.title%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= treatment.description %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn waterlily-btn" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <% else %>
            <td><%= treatment.title%></td>
          <% end %>
          <% if treatment.time >1 %>
            <td class="time-td"><%= treatment.time%> minutes</td>
          <% else %>
            <td class="time-td"><%= treatment.time%> minute</td>
          <% end %>
          <% if !treatment.variable_price == nil? && treatment.variable_price == true %>
            <td>from £<%= treatment.standard_price%></td>
          <%else%>
            <% if treatment.special_offer == true %>
              <td><strike>£<%= treatment.standard_price%> </strike>  £<%= treatment.offer_price%> </td>
            <% else %>
            <td>£<%= treatment.standard_price%></td>
            <% end %>
          <%end%>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= render "shared/booking_link" %>
</div>
