<body>
  <head>
    <meta charset=“UTF-8”>
    <%= javascript_pack_tag 'autocomplete', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176434059-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-176434059-1');
  </script>
  <div id="banner" class="d-flex flex-column align-items-end justify-content-center">
    <div class="homepage-header">
      <h1>Welcome to Waterlily</h1>
      <h4>Tanning and Beauty Salon in the Heart of Norwich</h4>
      <div class="">
        <%= form_tag treatments_path, method: :get, class: "search-form-all" do %>
        <div id="search-data" class="form-search search-data" data-subcategories="<%= @subcategories.to_json %>">
          <%= text_field_tag :query,
          params[:query],
          class: "search-form form-control search-input",
          autocomplete: :off,
          placeholder: "Find a treatment"  %>
          <%= submit_tag "Search", class: "btn waterlily-btn", id: "search-btn" %>
        </div>
        <ul class="suggestions">
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="home-categories text-center d-flex flex-column">
    <h2 class="section-title">OUR SERVICES</h2>
    <hr/>
    <div class="row justify-content-center home-card-container">
      <% @categories.each do |category|%>
      <%= link_to category_path(category) do %>
      <div class="wl-card m-3">
        <div class="card-content d-flex flex-column text-center">
          <% if category.photo.attached?%>
          <%= cl_image_tag category.photo.key, width: 300, height: 200, class: "card-photo"%>
          <% end %>
          <div class="pt-2 pb-2">
            <%= category.name %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <hr/>
  </div>
  <div class="about-us d-flex flex-column align-items-center mt-20">
    <h2 class="section-title">ABOUT US</h2>
    <hr/>
    <%= cl_image_tag("https://res.cloudinary.com/dqlvehu5z/image/upload/v1589706104/WhatsApp_Image_2020-05-08_at_16.15.02_j31vjz.jpg",
    class: "col-lg-6 col-md-8 col-sm-11", crop: :fill) %>
    <hr/>
    <div class="about-text text-center col-lg-8 col-md-8 col-sm-10">
      <p>We have been based in Timberhill in the heart of Norwich for over 25 years. We offer a range of treatments for customers, including Vertical Tanning, Manicures, Pedicures, Waxing, Facials and Massage. </p>
      <p class="pt-0">You can relax from head to toe in our friendly, welcoming salon and leave feeling rejuvenated. You'll be glad you stopped by!</p>
      <%= render './shared/lamps' %>
    </div>
    <hr/>
  </div>
  <div class="special-offers-home d-flex flex-column align-items-center mt-20">
    <h2 class="section-title">SPECIAL OFFERS</h2>
    <hr/>
    <div class="row justify-content-around">
      <% @special_offers.sample(6).each do |offer|%>
      <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 m-3">
        <div class="offer-card col">
          <div class="d-flex card-content flex-column text-center align-items-center justify-content-center">
            <%= cl_image_tag offer.subcategory.category.photo.key, width: 300, height: 200, :effect=>"brightness:-15", class: "offer-image"%>
            <h4 class="offer-title"><%= offer.title %></h4 class="offer-title">
              <% if (((offer.standard_price - offer.offer_price) / offer.standard_price) * 100)  %1 == 0 %>
              <h4><%= (((offer.standard_price - offer.offer_price) / offer.standard_price) * 100 ).to_i %>% Off</h4>
              <% else %>
              <h4>Save £<%= offer.standard_price - offer.offer_price%></h4>
              <% end %>
              <div class="d-flex justify-content-center">
                <p><del>£<%= offer.standard_price%></del></p>
                <h5 class="ml-1">£<%= offer.offer_price%></h5>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <%= render "./shared/booking_link" %>
      <hr/>
    </div>
  </body>
