<div class="d-flex flex-column align-items-center mt-20">
  <div class="container text-center">
    <h2 class="section-title" id="offers-title">Special Offers</h2>
    <div class="row justify-content-center">
      <% @special_offers.each do |offer|%>
      <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 m-3">
        <div class="offer-card col">
          <div class="d-flex card-content flex-column text-center align-items-center justify-content-center">
            <%= cl_image_tag offer.subcategory.category.photo.key, width: 300, height: 200, :effect=>"brightness:-15", class: "offer-image"%>
            <h3 class="offer-title"><%= offer.title %></h3 class="offer-title">
              <% if (((offer.standard_price - offer.offer_price) / offer.standard_price) * 100)  %1 == 0 %>
              <h3><%= (((offer.standard_price - offer.offer_price) / offer.standard_price) * 100 ).to_i %>% Off</h3>
              <% else %>
              <h3>Save £<%= offer.standard_price - offer.offer_price%></h3>
              <% end %>
              <div class="d-flex justify-content-center">
                <p><del>£<%= offer.standard_price%></del></p>
                <h5 class="ml-1">£<%= offer.offer_price%></h5>
              </div>
            </div>
          </div>
      </div>
        <% end %>
      </div>
  </div>
  <%= render "shared/booking_link" %>
</div>
