<div class="container d-flex justify-content-center">
  <div class="contact-form p-0 container d-flex justify-content-center flex-column">
    <div class="contact-form-header d-flex justify-content-center align-items-center">
      <h2 class="mb-0 m-1">CONTACT US</h2>
    </div>
    <div class="contact-form-content">
      <%= simple_form_for @contact do |f| %>
        <% if flash[:error].present? %>
            <p> flash[:error]</p>
        <% end %>
        <%= f.label :name %> <br>
        <%= f.text_field :name, required: true %>

        <br>
        <%= f.label :email %> <br>
        <%= f.text_field :email, required: true %>

        <br>
        <%= f.label :message %> <br>
        <%= f.text_area :message, as: :text %>


        <%= f.label :nickname, class: "hidden" %> <br>
        <%= f.text_field :nickname, class: "hidden", hint: 'leave this field blank' %>

        <%= f.submit 'Send Message', class: "btn waterlily-btn" %>
      <% end %>
    </div>
  </div>
</div>
