<div class="container">
  <div class="row w-100" id="contact-page-content">
    <div class="col-sm-12 col-lg-6 contact-form p-0 container d-flex justify-content-center flex-column">
      <div class="contact-form-header w-100 d-flex justify-content-center align-items-center">
        <h2 class="mb-0 m-1">Contact Us</h2>
      </div>
      <div class="contact-form-content">
        <%= simple_form_for @contact do |f| %>
        <%= f.invisible_captcha %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :message, as: :text, :input_html => { class: 'test', :cols => 5, :rows => 20 } %>
        <%= f.label :nickname, class: "hidden" %> <br>
        <%= f.text_field :nickname, class: "hidden", hint: 'leave this field blank' %>
        <%= f.submit 'Send Message', class: "btn waterlily-btn" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 contact-info">
      <div class="opening-times">
        <div id="opening-header">
          <h2>Opening Times</h2>
        </div>
        <div class="opening-time-content mb-4">
          <p>Monday: 8.30am- 6:30pm</p>
          <p>Tuesday: 8.30am- 6:30pm</p>
          <p>Wednesday: 8.30am- 6:30pm</p>
          <p>Thursday: 8.30am- 6:30pm</p>
          <p>Friday: 8.30am- 6:30pm</p>
          <p>Saturday: 8.30am- 4:30pm</p>
        </div>
      </div>
      <div id="map"
      style="width: 100%; height: 400px;"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
