<div class="container d-flex flex-column align-items-center wl-show">
  <div class="show-card">
    <h1 class="show-header"><%= @category.name %></h1>
    <%= cl_image_tag @category.photo.key, width: 300, height: 200, class: ""%>
    <hr/>
    <div class="show-description col-xl-8 col-md-8 col-sm-10">
      <%= @category.description %>
    </div>
  </div>
  <ul class="nav nav-pills mt-10" id="pills-tab" role="tablist">
  <% if !@category.subcategories.nil?%>
    <% @category.subcategories.each do |subcategory| %>
      <li class="nav-item">
        <a class="nav-link waterlily-pill-btn mr-3" id="pills-<%=subcategory.id %>-tab" data-toggle="pill" href="#pills-<%=subcategory.id %>" role="tab" aria-controls="pills-<%=subcategory.id%>" aria-selected="false"><%= subcategory.name %></a>
      </li>
    <%end%>
  <%end%>
  </ul>
<div class="tab-content" id="pills-tabContent">
  <% if !@category.subcategories.nil?%>
    <% @category.subcategories.each do |subcategory| %>
      <div class="tab-pane fade show" id="pills-<%=subcategory.id %>" role="tabpanel" aria-labelledby="pills-<%=subcategory.id%>-tab"><%= subcategory.name %>
      <% subcategory.treatments.each do |treatment|%>
      <%= treatment.title%>

      <% end %>
      </div>
    <%end%>
  <%end%>
</div>
</div>
