<div class="container">
  <% if current_user.admin? && request.format.html? %>
    <div class="">
      <p> Code: <%= @voucher.voucher_code%></p>
      <%if @voucher.redeemed.nil? || !@voucher.redeemed? %>
        <p class="active-voucher ml-3">Voucher is active</p>
        <%= link_to "Redeem", edit_voucher_path(@voucher.id), class: "waterlily-btn p-2 ml-3" %>
      <% else %>
        <p class="used-voucher ml-3">Voucher has been used</p>
        <%= link_to "Reactivate", edit_voucher_path(@voucher.id), class: "waterlily-pill-btn p-2 ml-3" %>
      <% end %>
    </div>
  <% end %>
  <div class="wl-logo">
    <%= image_tag "https://res.cloudinary.com/dqlvehu5z/image/upload/v1586180073/waterlily/WATERLILY_logo_No_BG_OL_copy_uaqkxk.png", width: 500, responsive: true %>
  </div>
  <div class="d-flex flex-column align-items-center voucher-main-content">
    <div class="voucher-heading text-center">
      <h1>Gift Voucher:</h1>
      <h1><%= @voucher.treatment.title%></h1>
    </div>
    <%= cl_image_tag @voucher.treatment.subcategory.category.photo.key, width: 400, class: "mb-3"%>
    <% if !@voucher.message.nil?%>
      <h2><%=@voucher.message%></h2>
    <% end %>
  </div>
  <div class="voucher-terms w-100">
    <h4><strong>Description</strong></h4>
    <% if @subcategory_name == "Vouchers"%>
      <p>This voucher entitles you to a credit of £<%= @voucher.amount_cents / 10000%> to spend on any treatment at Waterlily Tanning & Beauty. </p>
    <% else %>
      <p>This voucher entitles you to the above treatment lasting <%= @voucher.treatment.time %> minutes, or any treatment at Waterlily with the equivalent value.</p>
    <% end %>
    <h4>Voucher Usage Terms</h4>
    <p>This voucher is valid for 6 months from purchase.</p>
    <p>To book your appointment, please call the salon on 01603 613506 or e-mail indulge@water-lily.co.uk.</p>
    <p>Please bring in this voucher on the day of your treatment.</p>
  </div>
  <div class="voucher-details w-100">
    <div>
      <p>Expires: <%= @voucher.expiry_date_formatted %></p>
      <p>Voucher Code: <%= @voucher.voucher_code %></p>
    </div>
    <div class="qr-code">
      <%= @svg.html_safe %>
    </div>
  </div>
  <div class="wl-address">
    <p>Waterlily Tanning and Beauty, 16 Timberhill, Norwich NR1 3LB</p>
  </div>
</div>
